mixin cardTop(imgPath, spanText, alt, description)
  .cardTop
    img(src=imgPath, alt=alt)
    span= spanText
    p= description

  mixin humanCard(img, alt, name, position)
    .cardHuman
      img(src=img alt=alt)
      span.name= name
      span.pos= position

mixin mainCard(special, span)
  .cardMain
    a(href="#")  
    .ss 
      h3= special
      span= span 
      button viem 

mixin blockPost(img, alt, dateSpan, title, creator, text)
    .blockPost
      .imgblock
        img(src=img, alt=alt)
      .mainInfo
        .blocktwo
          p.dateSpan= dateSpan
          .block
            h3= title
            i= creator
        p= text
        a.read(href="#") Read more     
        
mixin qwe(text, author)
  .g 
    i= text 
  .aut 
    span=author
mixin contact(h3text, spanone, spantwo)
 .contact 
  svg(width='35' height='35' fill='black' stroke='white')
    use(href='#twitter-icon')
  h3= h3text
  span= spanone 
  span= spantwo 